src/schema/markup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Markup"
    targetNamespace="http://tempuri.org/Markup.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Markup.xsd"
    xmlns:mstns="http://tempuri.org/Markup.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <!-- BASE -->

  <xs:complexType name="Element" abstract="true">
    <xs:attribute name="name" type="xs:ID"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="style" type="xs:string"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:attribute name="margin" type="xs:string"/>
    <xs:attribute name="flex" type="FlexValue"/>
    <xs:attribute name="enabled">
      <xs:simpleType>
        <xs:union memberTypes="Boolean xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="visible">
      <xs:simpleType>
        <xs:union memberTypes="Boolean xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <!--<xs:attribute name="flex">
      <xs:simpleType>
        <xs:union memberTypes="FlexValue FlexNumber"/>
      </xs:simpleType>
    </xs:attribute>-->
    <xs:attribute name="scope" type="xs:string"/>
    <xs:attribute name="onClick" type="xs:string"/>
    <xs:attribute name="onMouseDown" type="xs:string"/>
    <xs:attribute name="onMouseUp" type="xs:string"/>
    <xs:attribute name="onMouseMove" type="xs:string"/>
    <xs:attribute name="onMouseEnter" type="xs:string"/>
    <xs:attribute name="onMouseLeave" type="xs:string"/>
    <xs:attribute name="onKeyPress" type="xs:string"/>
    <xs:attribute name="onKeyDown" type="xs:string"/>
    <xs:attribute name="onKeyUp" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Container" mixed="true" abstract="true">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="elements"/>
        </xs:choice>
        <xs:attribute name="padding" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- List of all child-elements -->
  <xs:group name="elements">
    <xs:choice>
      <xs:element ref="HBox"/>
      <xs:element ref="VBox"/>
      <xs:element ref="Button"/>
      <xs:element ref="Label"/>
      <xs:element ref="TextBox"/>
      <xs:element ref="TextArea"/>
      <xs:element ref="List"/>
      <xs:element ref="CheckBox"/>
      <xs:element ref="Placeholder"/>
      <xs:element ref="RadioButton"/>
      <xs:element ref="ToggleButton"/>
      <xs:element ref="Html"/>
    </xs:choice>
  </xs:group>


  <!-- CONTAINERS -->

  <xs:complexType name="Stack" abstract="true">
    <xs:complexContent>
      <xs:extension base="Container">
        <xs:attribute name="itemsIndent" type="ItemsIndent"/>
        <xs:attribute name="scrollBar" type="ScrollBar"/>
        <xs:attribute name="wrapping" type="Wrapping"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HBox">
    <xs:complexContent>
      <xs:extension base="Stack">
        <xs:attribute name="contentAlign" type="HContentAlign"/>
        <xs:attribute name="itemsAlign" type="HItemsAlign"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HBox" type="HBox"/>

  <xs:complexType name="VBox">
    <xs:complexContent>
      <xs:extension base="Stack">
        <xs:attribute name="contentAlign" type="VContentAlign"/>
        <xs:attribute name="itemsAlign" type="VItemsAlign"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VBox" type="VBox"/>

  <xs:complexType name="Window">
    <xs:complexContent>
      <xs:extension base="VBox">
        <xs:attribute name="title" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Window" type="Window"/>

  <xs:complexType name="List">
    <xs:complexContent>
      <xs:extension base="VBox">
        <xs:attribute name="items" type="xs:string"/>
        <xs:attribute name="itemId" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="List" type="List"/>

  <xs:complexType name="Modal">
    <xs:complexContent>
      <xs:extension base="VBox"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- Enums -->
  <xs:simpleType name="HContentAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Center"/>
      <xs:enumeration value="Right"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HItemsAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top"/>
      <xs:enumeration value="Middle"/>
      <xs:enumeration value="Bottom"/>
      <xs:enumeration value="Stretch"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VContentAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top"/>
      <xs:enumeration value="Middle"/>
      <xs:enumeration value="Bottom"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VItemsAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Center"/>
      <xs:enumeration value="Right"/>
      <xs:enumeration value="Stretch"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ItemsIndent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="0.5em"/>
      <xs:enumeration value="1em"/>
      <xs:enumeration value="2em"/>
      <xs:enumeration value="4em"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ScrollBar">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Horizontal"/>
      <xs:enumeration value="Vertical"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Wrapping">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoWrap"/>
      <xs:enumeration value="Wrap"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- ELEMENTS -->

  <xs:complexType name="Button">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="icon" type="xs:string"/>
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Button" type="Button"/>

  <xs:complexType name="Label">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Label" type="Label"/>

  <xs:complexType name="TextBox">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="notifyOnKeydown" type="Boolean"/>
        <xs:attribute name="type" type="TextBoxValueType"/>
        <xs:attribute name="readonly" type="Boolean"/>
        <xs:attribute name="placeholder" type="xs:string"/>
        <xs:attribute name="onTextChange" type="xs:string"/>
        <xs:attribute name="min" type="xs:float"/>
        <xs:attribute name="max" type="xs:float"/>
        <xs:attribute name="step" type="xs:float"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextBox" type="TextBox"/>
  <xs:simpleType name="TextBoxValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string"/>
      <xs:enumeration value="number"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TextArea">
    <xs:complexContent>
      <xs:extension base="TextBox">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextArea" type="TextArea"/>

  <xs:complexType name="CheckBox">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="checked" type="xs:string"/>
        <xs:attribute name="readonly" type="Boolean"/>
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="onCheckChange" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckBox" type="CheckBox"/>

  <xs:complexType name="Placeholder">
    <xs:complexContent>
      <xs:extension base="Element"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Placeholder" type="Placeholder"/>

  <xs:complexType name="RadioButton">
    <xs:complexContent>
      <xs:extension base="CheckBox">
        <xs:attribute name="group" type="xs:string"/>
        <xs:attribute name="item" type="xs:string"/>
        <xs:attribute name="selectedItem" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RadioButton" type="RadioButton"/>

  <xs:complexType name="ToggleButton">
    <xs:complexContent>
      <xs:extension base="RadioButton">
        <xs:attribute name="icon" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToggleButton" type="ToggleButton"/>

  <xs:complexType name="Html">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:choice>
          <xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0" maxOccurs="1"/>
        </xs:choice>
        <xs:attribute name="href" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Html" type="Html"/>

  <!-- Enums -->
  <xs:simpleType name="Boolean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FlexValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Stretch"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FlexNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="^(\d+(\.\d+)?(\s\d+(\.\d+)?)?)$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Visibility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible"/>
      <xs:enumeration value="Hidden"/>
      <xs:enumeration value="Collapsed"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
